[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-google-genai = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
langchain-community = "*"
pymysql = "*"
chromadb = "*"
transformers = "*"
torch = "*"
unstructured = "*"
pandas = "*"
openpyxl = "*"
pip = "*"
install = "*"
sentence-transformers = "*"
qdrant-client = "*"
llama-index = "*"
psycopg2-binary = "*"
streamlit = "*"
llama-index-llms-openai = "*"
hugchat = "*"
cd = "*"
faker = "*"
langchain-anthropic = "*"
langchain-qdrant = "*"

[dev-packages]

[requires]
python_version = "3.12"
