langchain
langchain-openai
langchain-google-genai
fastapi
uvicorn
python-dotenv
langchain-community
pymysql
transformers
torch
unstructured
pandas
openpyxl
sentence-transformers
qdrant-client
llama-index
psycopg2-binary
streamlit
llama-index-llms-openai
hugchat
cd
faker
langchain-anthropic
langchain-qdrant
pymupdf
pydub
passlib
python-multipart
sqlalchemy
bcrypt
python-jose[cryptography]
pydantic
email-validator
pdfplumber
llama-index-llms-openai
chromadb
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index
llama-index-llms-openai
llama-index-readers-file
llama-index-embeddings-openai
langchain_chroma
motor
pymongo
langchain-mongodb
byaldi
pdf2image
qwen-vl-utils
youtube-search-python
google-search-results
wikipedia-api
langgraph
langchain-openai
ipython
pytesseract
python-docx
wave
google-auth
google-auth-oauthlib
itsdangerous
logfire
pydantic-ai
python-logging-loki-v2
